@charset 'utf-8';

@font-face {
  font-family: 'Neutraface Slab Book';
  font-weight: 400;
  src: url('~@/assets/fonts/NeutrafaceSlab-Text-Book.woff2') format('woff');
  text-rendering: optimizeLegibility;
}
